/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/* Common Style */
/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */
body{
    font-family: 'Poppins', sans-serif;
    background-color: #F3F1FF;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container{
    background-color: #ffffff;
    width: 870px;
    padding: 30px;
    margin-top: 21px;
    border-radius: 5px;
}
hr{
    border: 1px solid #D1D1D1;
    margin-bottom: 27px;
}

/* Top player style */
.top-players{
    margin-bottom: 30px;
}
.section-title{
    font-size: 24px;
    line-height: 36px;
    font-weight: 500;
    color: rgba(86, 46, 255, 1);
    margin-top: 3px;
}
.players{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    row-gap: 30px;
}
.player{
    display: flex;
    align-items: center;
}
.player img{
    width: 56px;
    height: 56px;
}
.player-name{
    font-size: 18px;
    line-height: 27px;
    font-weight: 500;
    margin-left: 16px;
}
/* Top blogs starts here */

.blogs{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    row-gap: 26px;
    
}
.blog{
    display: flex;
    align-items: center;
    width: 360px;
}

.thumbnail img{
    width: 177px;
    height: 117px;
}

.blog-info{
    margin-left: 16px;
}
.blog-title{
    font-size: 20px;
}
.blog-author{
    font-size: 16px;
    color: #9F9F9F;
}
.blog-author a{
    color: #562EFF;
    font-size: 16px;
    text-decoration: none;
}
/* Courses style starts here */
.courses{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    column-gap: 24px;
}
.course{
    width: 250px;
    filter: drop-shadow(0px 5.34229px 13.3557px rgba(0, 0, 0, 0.05));
}
.course .course-banner img{
    width: 224px;
    height: 104px;
}
.course-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.fa-star{
    font-size: 12px;
}
.fa-star.filled{
    color: #FFC014;
}
.fa-star.empty{
    color: #AEAEAE;
}

.course-duration{
    background-color: #FEE5DF;
    padding: 5px;
    border-radius: 15px;
}

/*----------------
 Media queries
 ---------------- */
 /* For Mobile Device */
 @media  (max-width: 688px) {
   .container{
    width: 100%;
    }
    .section-title{
        text-align: center;
    }
    .players{
       grid-template-columns: repeat(1,1fr);

    }
    .player{
        flex-direction: column;
    }
    .blogs{
        grid-template-columns: repeat(1,1fr);
    }

    .blog{
        flex-direction: column;
    }
    .blog-info{
        margin-left: 0;
        text-align: center;
    }

    .courses{
        grid-template-columns: repeat(1,1fr);
    }
    .course{
        width: 100%;
    }
    
 }